# Gradle
/.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/build/
/plugins/build/

*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log file
*.log

# IntelliJ files
.idea/
*.iml

# BlueJ files
*.ctxt

# VM crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*